/* Default Light Mode */
body {
  background-color: #ffffff;
  color: #684747;
}

.header {
  background-color: #868786;
  color: #000;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.header.dark-mode {
  background-color: #343a40;
  color: #ffffff;
}

/* Dark Mode Toggle Button */
button.btn-outline-secondary {
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 1.5rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

body.dark-mode button.btn-outline-secondary {
  color: #ffffff;
}

body.dark-mode button.btn-outline-secondary:hover {
  color: #ffc107;
}

button.btn-outline-secondary:hover {
  color: #007bff;
}

.brand{
  color: white;
}
